@import url(./components/header.css);
@import url(./components/content.css);

:root {
  --transparent: transparent;

  --transition: 0.4s ease;

  --fontTeko: "Teko", sans-serif;
  --fontTitillium: "Titillium Web", sans-serif;
}

*,
*::before,
*::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  scroll-behavior: smooth;

  background: #080918;

  font-size: 14px;
  font-weight: 400;
  font-family: var(--fontTitillium);
  line-height: 1.4;
  min-height: 100%;
}

/* .wrapper {
  display: flex;
} */

/* .banner_bg {
  width: 100vh;
  position: absolute;
  height: 100%;
  transform: rotate(90deg);
  left: 0;
  top: 0;
  z-index: 0;
}

.waves {
  position: absolute;
  width: 100%;
  height: 50px;
  display: block;
  bottom: 230px;
  left: 0;
}

.parallax > use {
  -webkit-animation: 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite
    move-forever;
  animation: 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite move-forever;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

.last-wave {
  fill: #080918;
} */

svg {
  height: 20px;
  width: auto;
  overflow: hidden;
  vertical-align: middle;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all var(--transition);
  -webkit-transition: var(--transition);
}

a:hover {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: var(--fontTitillium);
}

/* .btn-blue {
  background-color: #4dceed;
  color: #181927;
} */

h1,
h2,
h3 {
  font-weight: 400;
  font-family: var(--fontTeko);
  text-rendering: optimizeLegibility;
}

.btn {
  padding: 11px 20px 9px;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--fontTeko);
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 20px;
  min-height: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none;
  border-radius: 12px;
  outline: 0;
  transition: all var(--transition);
  -webkit-transition: var(--transition);
}

@media screen and (max-width: 769px) {
  .container_sidebar,
  .main_content_container {
    width: 100%;
    display: block;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
  .main_content_container {
    padding-top: 200px;
  }
}
