@import url(./components/header.css);
@import url(./components/variables.css);
@import url(./components/mode.css);

*,
body {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  overflow: hidden;
  scroll-behavior: smooth;

  font-size: 14px;
  font-weight: 400;
  font-family: var(--fontTitillium);
  line-height: 1.4;
  min-height: 100%;
}

.container {
  display: flex;
}

/* .container_sidebar {
  width: 30%;
} */

.container_main {
  /* Take the remaining width */
  flex: 1;

  /* Make it scrollable */
  overflow: auto;
}

svg {
  height: 20px;
  width: auto;
  overflow: hidden;
  vertical-align: middle;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: var(--fontTitillium);
}

/* .btn-blue {
  background-color: #4dceed;
  color: #181927;
} */
