.main_content_container {
  color: #f7f7f7;
  position: relative;
  z-index: 9;
  padding: 30px 30px 30px 0;
  margin-left: 300px;

  /* Take the remaining width */
  /* flex: 1; */

  /* Make it scrollable */
  /* overflow: auto; */
}

.content_theme {
  opacity: 0.14;
  /* opacity: 0.6; */

  position: absolute;
  top: 50px;
  z-index: -1;
  font-size: 600px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  color: #8a92b2;
}

.content_theme i.etherium {
  font-family: cryptofont !important;
  speak-as: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.content_theme i.etherium::before {
  content: "\ea88";
}

.main_section,
.search_section,
.cards_section {
  margin-bottom: 30px;
  position: relative;
}

/* top_left_section */
.main_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_title {
  display: flex;
  align-items: center;
}

.main_title h1 {
  font-size: 36px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main_title p {
  margin-left: 20px;
  padding-left: 20px;
  margin-bottom: 5px;
  border-left: 1px solid #dedede;
  font-size: 13px;
  line-height: 25px;
}

/* top_right_section */
.connect_wallet_btn {
  background-color: #4dceed;
  color: #181927;
}

.connect_wallet_btn:hover {
  background-color: #181927;
  color: #f7f7f7;
  cursor: pointer;
}
