.main_content_container {
  color: #f7f7f7;
  position: relative;
  z-index: 9;
  padding: 27px 30px 27px 3px;
  margin-left: 300px;

  /* Take the remaining width */
  /* flex: 1; */

  overflow: auto;
  height: 100vh;
}

.content_theme {
  opacity: 0.075;
  /* opacity: 0.6; */

  position: absolute;
  top: 50px;
  z-index: -1;
  font-size: 600px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  color: #8a92b2;
}

.content_theme i.ethereum {
  font-family: cryptofont !important;
  speak-as: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.content_theme i.ethereum::before {
  content: "\ea88";
}

/* top_title_section */
.main_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.main_title {
  display: flex;
  align-items: center;
}

.main_title h1 {
  font-size: 36px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main_title p {
  margin-left: 20px;
  padding-left: 20px;
  margin-bottom: 5px;
  border-left: 1px solid #dedede;
  font-size: 13px;
  line-height: 25px;
}

/* top_right_section */
.connect_wallet_btn {
  background-color: #4dceed;
  color: #181927;
}

.connect_wallet_btn:hover {
  background-color: #181927;
  color: #f7f7f7;
  cursor: pointer;
}

.select_network_section {
  display: flex;
  align-items: center;
}

.network_change fieldset {
  padding: 5px 7px;
  border-radius: 6px;
  position: relative;
  width: 200px;
  margin-left: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

ul.network_list,
legend {
  margin-bottom: 0;
}

legend {
  width: fit-content;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 6px;
  line-height: 1;
}

ul.network_list {
  overflow: hidden;
  border-radius: 6px;
  background-color: #0f1121;
  display: flex;
  justify-content: space-around;
}

ul.network_list li {
  width: 33.3333333%;
  text-align: center;
}

input {
  display: none;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

ul.network_list li label {
  display: block;
  line-height: 31px;
  font-size: 15px;
  text-align: center;
  margin: 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  transition: var(--transition) all;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  border-radius: 6px;
}

ul.network_list li label.bnb {
  color: #f3ba2f;
}
ul.network_list li label.f_bridge {
  color: #13b5ec;
}

ul.network_list li input:checked + label {
  color: #181927;
  background-color: #4dceed;
  box-shadow: 0 0 15px -4px rgb(0 0 0 / 40%);
}

/* search_section */
.search_section {
  margin-bottom: 20px;
  position: relative;
}

.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 400;
  /* background-color: transparent; */
  /* border: 1px solid #181927; */
  /* color: #181927; */
  background-color: inherit !important;
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  color: #fff;
  box-shadow: none;
  outline: none;
  line-height: 40px;
  transition: var(--transition) all;
}

.form-control:focus,
.form-control:active {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.3);
}

.input_box i {
  position: absolute;
  right: 30px;
  top: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  color: #4dceed;
}

/* cards_section */
.cards_section {
  margin-bottom: 30px;
  position: relative;
}

.pools_tab .pools {
  position: relative;
  /* background-color: #fff; */
  background-color: #0f1121;
  box-shadow: 0 0 20px -15px rgb(0 0 0 / 25%);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pools_tab .pools li {
  width: 33.33333333%;
  text-align: center;
}

.pools_tab .pools li label {
  display: block;
  padding: 0 15px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  margin: 0;
  transition: var(--transition) all;
  -webkit-transition: var(--transition);
}

.pools_tab .pools li input:checked + label,
.pools_tab .pools li label:hover {
  background-color: #4dceed;
}

.cards {
  margin: 15px;
  position: relative;
  border-radius: 12px;
  /* background: linear-gradient(
    135deg,
    rgba(138, 146, 178, 0.15) 0,
    rgba(255, 255, 255, 0.8) 100%
  ); */
  background: linear-gradient(
    135deg,
    rgba(138, 146, 178, 0.3) 0,
    rgba(15, 17, 33, 0.7) 30%
  );
  box-shadow: 0 0 20px -12px #8a92b2;
}

.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #4dceed;
  background: linear-gradient(#4dceed 0, #28c0e4 100%);
  box-shadow: 0 3px 10px -5px #000;
  position: absolute;
  top: 19px;
  left: -21px;
}

.ribbon span::before,
.ribbon span::after {
  content: "";
  position: absolute;
  top: 100%;
  z-index: -1;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #28c0e4;
}

.ribbon span::before {
  left: 0;
  border-left: 3px solid #28c0e4;
  border-right: 3px solid transparent;
}

.ribbon span::after {
  right: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid #28c0e4;
}

.card_content {
  overflow: hidden;
  position: relative;
  padding: 25px;
  z-index: 1;
}

.title {
  position: relative;
  margin-bottom: 15px;
  float: left;
}

.title img {
  max-height: 50px;
  display: block;
  margin-bottom: 10px;
}

.title h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: var(--fontTeko);
  margin-bottom: 0;
}

.pool_earning {
  float: right;
  text-align: right;
}

.pool_earning h4 {
  font-size: 13px;
  /* color: #8b9198; */
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 25px;
  right: 25px;
}

.yield_box {
  position: relative;
  margin-bottom: 15px;
  text-align: center;
}

.yield_box table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}

.yield_box table > tr {
  vertical-align: middle;
}

.yield_box tr td,
.yield_box tr th {
  padding: 3px 0;
}

.yield_box tr th {
  font-size: 13px;
  font-weight: 600;
  text-align: left;
}

.yield_box tr td {
  text-align: right;
  color: #8b9198;
}

.progress_bar {
  margin-bottom: 20px;
}

.progress_bar h5 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
}

.token_claimed {
  position: relative;
  height: 6px;
  border-radius: 4px;
  background-color: #f7f7f7;
  overflow: hidden;
  margin-bottom: 5px;
}

.token-claimed span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #4dceed;
  /* width: 95.8419%; */
}

.claim_detail h4 {
  font-weight: 600;
  line-height: 18px;
  font-size: 13px;
  color: #4dceed;
  float: left;
}

.claim_detail h6 {
  line-height: 18px;
  font-size: 13px;
  color: #8b9198;
  float: right;
}

.claim_detail::after {
  display: block;
  clear: both;
  content: "";
}

.view_btn {
  margin-bottom: 10px;
}

.view_btn a {
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  width: 100%;
  text-align: center;
}

.view_btn a:hover {
  border-color: #4dceed;
  color: #fff;
}

@media screen and (max-width: 1025px) {
  .main_section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main_title {
    order: 1;
    margin-top: 20px;
  }

  .select_network_section {
    width: 100%;
    justify-content: space-between;
    order: 0;
  }

  .cards {
    margin-left: 0px;
    margin-right: 0px;
  }

  .card_content {
    padding: 35px 20px 20px;
  }
}

@media screen and (max-width: 769px) {
  /* .main_content_container {
        order: 1;
    } */

  .pools_tab {
    margin-top: 20px;
  }

  .pools {
    margin-bottom: 10px;
  }

  .card_content {
    padding: 25px;
  }
}

@media screen and (max-width: 426px) {
  .select_network_section,
  .main_title {
    flex-direction: column;
    align-items: stretch;
  }

  .connect_wallet_btn,
  .network_change fieldset {
    display: block;
    width: 100%;
    margin: auto;
  }

  .network_change fieldset {
    margin: 20px auto;
  }

  .pools_tab .pools {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 20px;
  }

  .pools_tab .pools li {
    width: 100%;
    background-color: #0f1121;
    border-radius: 30px;
    margin-bottom: 8px;
  }

  .main_title p {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
}
