.container_sidebar {
  /* background-color: #fff; */
  background: #080918;

  padding: 20px 25px;
  position: fixed;
  z-index: 9;
  /* width: 30%; */
  width: 230px;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 0 0 20px -15px rgb(0 0 0 / 25%);
}

#header {
  position: relative;
  margin-bottom: 30px;
}

/* logo -------------- */
#logo {
  margin-bottom: 20px;
}

#logo svg {
  height: 30px;
  width: auto;
}

.fil0 {
  fill: #fff !important;
}

.fil3 {
  fill: #fff !important;
  fill-rule: nonzero;
}

/* nav --------------- */

/* a,
a:focus,
a:hover {
  color: #181927;
} */

#main_menu {
  position: relative;
  margin-bottom: 30px;
}

#main_menu ul li {
  position: relative;
  margin-bottom: 8px;
}

#main_menu ul li .nav_link {
  display: block;
  background-color: #0f1121;
  color: rgba(255, 255, 255, 0.7);

  border-radius: 6px;
  line-height: 24px;
  position: relative;
  padding: 10px 12px 6px 40px;
  font-size: 15px;
  font-family: var(--fontTeko);
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all var(--transition);
  -webkit-transition: all var(--transition);
}

#main_menu ul li .nav_link:hover {
  background-color: #4dceed;
  color: #181927;
}

#main_menu ul li .nav_link span {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  text-align: center;
  line-height: 1;
}

#main_menu ul li .nav_link span svg {
  fill: rgba(255, 255, 255, 0.7);
}

/* drop-down -------------- */
#main_menu ul li.drop_down > .nav_link i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-45%);
  -webkit-transform: translateY(-45%);
}

.sub_menu {
  padding-top: 10px;
  /* display: none; */
  padding-left: 15px;
  transition: all var(--transition);
}

.display_block {
  display: block;
}

.sub_menu li {
  margin-bottom: 5px;
}

.sub_menu li a {
  display: block;
  background-color: #f7f7f7;
  color: #181927;
  line-height: 24px;
  position: relative;
  font-size: 15px;
  padding: 7px 12px 4px 40px;
  text-transform: uppercase;
  font-family: var(--fontTeko);
  border-radius: 6px;
  letter-spacing: 3px;
  transition: all var(--transition);
  -webkit-transition: var(--transition);
}
.sub_menu li.b_bridge_sub a {
  background: #f3ba2f;
}
.sub_menu li.f_bridge_sub a {
  background: #13b5ec;
}

.sub_menu li a:hover {
  background-color: #6c757d;
  color: #f7f7f7;
  cursor: pointer;
}
.sub_menu li.b_bridge_sub a:hover {
  background-color: #181927;
  color: #f3ba2f;
}
.sub_menu li.f_bridge_sub a:hover {
  background: rgb(0, 81, 255);
}

.sub_menu li a i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.sub_menu li a i.ethereum,
.sub_menu li a i.bnb,
.sub_menu li a i.f_bridge {
  font-family: cryptofont !important;
  speak-as: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  margin-right: 5px;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.sub_menu li a i.ethereum::before {
  content: "\ea88";
}
.sub_menu li a i.bnb::before {
  content: "\e98e";
}
.sub_menu li a i.f_bridge::before {
  content: "\eaab";
}

/* mode ------------------ */

#header #mode {
  /* background-color: #f7f7f7; */
  background-color: #0f1121;
  margin-top: 20px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#header .mode_toggle_container {
  width: 50%;
}

#header .mode_toggle_container input {
  display: none;
}

.mode_toggle_container input[type="checkbox"],
.mode_toggle_container input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

#header .mode_toggle_container label {
  display: block;
  margin: 0;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s;
}

#header .mode_toggle_container svg {
  height: 20px;
  width: auto;
  display: block;
  margin: 0 auto;
  /* fill: rgba(255, 255, 255, 0.5); */
}

.mode_toggle_container > input:checked + label {
  background: #4dceed;
}

.mode_toggle_container > input:checked + label svg {
  fill: #181927;
}

/* handles ------------- */
#handles {
  position: relative;
  margin-top: 20px;
  /* z-index: 1; */
}

#handles h3 {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  font-family: var(--fontTeko);
  color: #fff;
  line-height: 30px;
  padding-left: 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#handles h3::before {
  display: block;
  content: "";
  width: 25px;
  position: absolute;
  left: 8px;
  top: 12px;
  height: 2px;
  background-color: #4dceed;
}

#handles ul {
  display: flex;
  padding-left: 8px;
}

#handles ul li:not(:first-child) {
  margin-left: 15px;
}

#handles ul li a {
  line-height: 30px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.65);
}

#handles ul li a:hover {
  color: #fff;
}
