.dayTheme {
  --bodyBg: var(--customWhite);

  --navLinkBg: var(--customWhite);
  --navLinkColor: var(--customDark);

  --title: var(--black);
  --subtitle: var(--customGreen);
  --textColor: var(--gray);

  --button2: var(--customGreen);
  --button2Hover: var(--transparent);

  --modeIconColor: var(--customDark);
}

.nightTheme {
  --bodyBg: var(--customDark);

  --navLinkBg: var(--dark);
  --navLinkColor: var(--lightGray);

  --title: var(--customWhite);
  --subtitle: var(--lightGray);
  --textColor: var(--lightGray);

  --button2: var(--transparent);
  --button2Hover: var(--customGreen);

  --modeIconColor: var(--day);
}
