:root {
  --day: #fad54e;

  --customBlue: #4dceed;
  --customWhite: #f7f7f7;
  --customDark: #181927;
  --customTextColor: #777;

  --dark: #0f1121;
  --white: #fff;
  --gray: #777;
  --lightGray: rgba(255, 255, 255, 0.7);

  --transparent: transparent;

  --transition: 0.4s ease;

  --fontTeko: "Teko", sans-serif;
  --fontTitillium: "Titillium Web";
}
